<header class="site-header">
  <a id="top"></a>
  <div class="wrapper">
    <nav class="site-nav">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <a href="#" id="menuIcon" class="menu-icon">
        <img src="{{ '/images/hamburger.svg?v=2' | prepend: site.baseurl }}">
      </a>
      <div id="menu" class="trigger">
        {% for itemType in site.data.types %}
          <a class="page-link" href="{{site.baseurl}}/tags/{{itemType.tag}}.html">{{ itemType.name }}</a>
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
